00_ResearchProjectStudy/primary_dialer/.gradle/8.2/dependencies-accessors/768dc4d750a7c2a698eb071dc92a24bf63d649c3/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationLibraryAccessors.class
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_0/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_1/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_2/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_3/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_4/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_5/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_6/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_7/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_8/graph.bin
00_ResearchProjectStudy/RecordCalling/app/build/intermediates/desugar_graph/debug/dexBuilderDebug/out/currentProject/jar_a5f2e3cd3fa17e5499db3dcb2c74d8e91c734c3051dfa1caee7569bf3183aa5a_bucket_9/graph.bin
