<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sbi.mvicalllibrary">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <application>

        <service
            android:exported="true"
            android:name=".icallservices.InCallServiceImpl"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />

            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <activity
            android:name=".icallservices.InCallActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/phoneAppLabel"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.InCallScreen"
            android:turnScreenOn="true">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>

    </application>

</manifest>