<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackCompose"
        tools:targetApi="31">
        <activity
            android:name=".SnackbarViewActivity"
            android:exported="false"
            android:label="@string/title_activity_snackbar_view"
            android:theme="@style/Theme.JetpackCompose">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ButtonViewActivity"
            android:exported="true"
            android:label="@string/title_activity_button_view"
            android:theme="@style/Theme.JetpackCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BoxLayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_box_layout"
            android:theme="@style/Theme.JetpackCompose">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RowLayoutActivity"
            android:exported="false"
            android:label="@string/title_activity_row_layout"
            android:theme="@style/Theme.JetpackCompose">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ColumnLayoutActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackCompose">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>